<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>所有评论</title>
  <script type="text/javascript" src="__PUBLIC__/js/j.js"></script>
  <script type="text/javascript">
    var CommentUrl = "{:U('Self/Comment')}";
    var praiseAjaxUrl = "{:U('Self/praiseAjax')}";
  </script>
  <script type="text/javascript" src="__PUBLIC__/js/Tool.js "></script>
  <script type="text/javascript" src="__PUBLIC__/js/discuss.js"></script>
</head>
<body>
  <include file="./Index/Home/View/default/Public/header.html" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Theme/{$style}/css/discuss.css">
  <div class="mainBox">
    <div id="main">
    <if condition="!$data['isturn']">
      <article>
        <header>
          <a href="{:U('/'.$data['uid'])}" class="userFace"><img src="
          <if condition="$data['face']">
            __ROOT__{$data.face}
          <else />
            __PUBLIC__/images/none.png
          </if>
          "></a>
          <span class="username" userid="{$data['uid']}"><a href="{:U('/'.$data['uid'])}">{$data['username']}</a></span>
          <a class="time">{$data['time']|date='Y-m-d H:i:s',###}　　来自可以防弹的手机</a>
        </header>
        <p class="content">
          {$data['content']|replace_weibo=###} 
        </p>
        <!-- 判断有没有配图 -->
        <if condition="$data['medium']">
        <div class="picture">
          <img src="__ROOT__{$data.max}">
        </div>
        </if>
        <footer>
          <ul>
            <li><a href="#"><i class="icon-star-empty"></i>　收藏</a></li>
            <li><a href="#" class="operation" alt="{$data.id}" id="{$data.id}"><i class="icon-redo2"></i>　<span>{$data.turn}</span></a></li>
            <li><a href="#" class="praiseE" wid={$data.id}><i class="icon-fire"></i>　<span>{$data.praise}</span></a></li>
            <li><a href="#" class="commentE"><i class="icon-chat"></i>　<span>{$data.comment}</span></a></li>
          </ul>
        </footer>
        <!-- 评论 -->
        <div class="comment">
          <div class="publish">
            <div class="input">
              <img src="
              <if condition="$self['face']">
                __ROOT__{$self.face}
              <else />
                __PUBLIC__/images/none.png
              </if>
              ">
              <input type="text" name="comment" id="{$wid}" sign="phiz{$data.id}">
            </div>
            <div class="phiz">
              <i class="icon-smile" id="icon-smileComment" name='reply' sign="phiz{$data.id}"> </i>
              <span class="commentE">评论</span>
            </div>
          </div>
          <div class="list_ul">
            <if condition="$list">
              <volist name="list" id="vo">
              <!-- 分页数据循环 -->
                <div class="list_li">
                  <a href="{:U('/'.$vo['uid'])}" class="userFace">
                    <img src="
                    <if condition="$vo['face']">
                      __ROOT__{$vo.face}
                    <else />
                      __PUBLIC__/images/none.png
                    </if>
                    ">
                  </a>
                  <div class="text"><a href="'.U('/'.$vo['uid']).'">{$vo.username}</a> :  {$vo.content|replace_weibo=###}</div>
                  <div class="time">
                    <span class="timeStr">{$vo.timeStr}　<p>{$vo.time}</p></span>
                    <span class="support"><p class="supportClick">回复</p>　　赞&nbsp<strong>804</strong></span>
                  </div>
                  <div class="reply">
                    <input type="text" name="reply" class="reply">
                    <span class="replyByReply">
                      <i class="icon-smile"></i>
                      <span>评论</span>
                    </span>
                  </div>
                </div>
              <!-- 分页循环结束 -->
              </volist>
            </if>
          </div>
            <div class="pages">{$page}</div>
          </div>
            <div class="moreReply"><a href="{:U('Discuss/index',array('wid'=>$data['id']))}"></a></div>
<!-- 评论结束/ -->
      </article>
<else />
      <!-- 转发样式 -->
       <article>
        <header>

          <a href="{:U('/'.$data['uid'])}" class="userFace"><img src="
          <if condition="$data['face']">
            __ROOT__{$data.face}
          <else />
            __PUBLIC__/images/none.png
          </if>
          "></a>
          <span class="username" userid="{$data['uid']}"><a href="{:U('/'.$data['uid'])}">{$data['username']}</a></span>
          <a class="time">{$data['time']|date='Y-m-d H:i:s',###}　　来自可以防弹的手机</a>
        </header>
        <p class="content">
          {$data['content']|replace_weibo=###} 
        </p>
        <!-- 判断有没有配图 -->
        <div class="userforwarding">
          <h4 class="userIFM">
              <a href="{:U('/' . $data['isturn']['uid'])}" class="userNameisturn" name="{$data.isturn.uid}" target="_blank">{$data.isturn.username}</a>
              <a href="#" class="userLevel"><i class="icon-award8"></i></a>
          </h4>
          <p class="forwardingContent">
              {$data.isturn.content|replace_weibo=###}
          </p>
           <div class="forwardingUploadImg">
<if condition="$data['isturn']['max']">
            <img src="__ROOT__{$data.isturn.medium}">
</if>
            </div>
            <div class="forwardingIFM">
              <span class="forwardingTime">{$data.isturn.time|date='Y-m-d H:i:s',###}</span>
              <ul class="forwardingCount">
                <li><a href="#" class="operation" yid={$data.isturn.id}><i class="icon-redo2"></i>　<span>{$data.isturn.turn}</span></a></li>
                <li><a href="#" class="praiseE" wid="{$data.isturn.id}"><i class="icon-fire"></i>　<span>{$data.isturn.praise}</span></a></li>
                <li><a href="#"><i class="icon-chat"></i>　<span>{$data.isturn.comment}</span></a></li>
              </ul>
            </div>
        </div>
        <footer>
          <ul>
            <li><a href="#"><i class="icon-star-empty"></i>　收藏</a></li>
            <li><a href="#" class="operation" id="{$data.id}" tid="{$data.isturn.id}"><i class="icon-redo2"></i>　<span>{$data.turn}</span></a></li>
            <li><a href="#" class="praiseE" wid="{$data.id}"><i class="icon-fire"></i>　<span>{$data.praise}</span></a></li>
            <li><a href="#" class="commentE"><i class="icon-chat"></i>　<span>{$data.comment}</span></a></li>
          </ul>
        </footer>
        <!-- 评论 -->
        <div class="comment">
          <div class="publish">
            <div class="input">
              <img src="
              <if condition="$self['face']">
                __ROOT__{$self.face}
              <else />
                __PUBLIC__/images/none.png
              </if>
              ">
              <input type="text" name="comment" id="{$wid}" sign="phiz{$data.id}">
            </div>
            <div class="phiz">
              <i class="icon-smile" id="icon-smileComment" name='reply' sign="phiz{$data.id}"> </i>
              <span class="commentE">评论</span>
            </div>
          </div>
          <div class="list_ul">
            <if condition="$list">
              <volist name="list" id="vo">
              <!-- 分页数据循环 -->
                <div class="list_li">
                  <a href="{:U('/'.$vo['uid'])}" class="userFace">
                    <img src="
                    <if condition="$vo['face']">
                      __ROOT__{$vo.face}
                    <else />
                      __PUBLIC__/images/none.png
                    </if>
                    ">
                  </a>
                  <div class="text"><a href="'.U('/'.$vo['uid']).'">{$vo.username}</a> :  {$vo.content|replace_weibo=###}</div>
                  <div class="time">
                    <span class="timeStr">{$vo.timeStr}　<p>{$vo.time}</p></span>
                    <span class="support"><p class="supportClick">回复</p>　　赞&nbsp<strong>804</strong></span>
                  </div>
                  <div class="reply">
                    <input type="text" name="reply" class="reply">
                    <span class="replyByReply">
                      <i class="icon-smile"></i>
                      <span>评论</span>
                    </span>
                  </div>
                </div>
              <!-- 分页循环结束 -->
              </volist>
            </if>
          </div>
            <div class="pages">{$page}</div>
          </div>
            <div class="moreReply"><a href="{:U('Discuss/index',array('wid'=>$data['id']))}"></a></div>
<!-- 评论结束/ -->
      </article>
</if>
    </div>
    <div id="sidebar"></div>
  </div>
  <include file="./Index/Home/View/default/Public/footer.html" />
  <div id="fade"><span></span></div>
  <input type="hidden" name="sessionUid" value="{$sessionUid}">
</body>
</html>