<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>用户登录</title>
</head>
<body>
  <!-- 头部 -->
  <include file="Public/nav" />
  <!-- 自己的样式 -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Index/login.css">

<div class="container main">
      <form action="{:U('checkLogin')}" method="post" class="form-horizontal col-md-5" name="register" id="register">
        <div class="info hidden-xs ">
          <img src="__PUBLIC__/images/Index/register/google.png">
        </div>
        <div class="form-group">
          <label for="account" class="col-sm-6 control-label">账号</label>
          <div class="col-sm-6">
            <input id="account" type="text" name="account" class="form-control text" placeholder="请输入您的账号">
          </div>
        </div>
        
        <div class="form-group">
          <label for="password" class="col-sm-6 control-label">密码</label>
          <div class="col-sm-6">
            <input type="password" id="password" name="password" class="form-control text" placeholder="请输入您的密码">
          </div>
        </div>

        <div class="checkbox pull-right col-md-6">
          <label>
            <input type="checkbox"  value="1" name="auto" > 自动登录
          </label>
        </div>

        <div class="button-group col-md-7 pull-right">
          <a href="{:U('register')}" class="button button-pill button-primary button-3d button-smail">注册</a>
          <input type="submit" class="button button-pill button-primary button-3d button-smail" value="登录">
        </div>

      </form>

    <div id="img2" style="background-image: url('__PUBLIC__/Images/Index/register/2.jpg')"></div>
    <div id="img" class="img" style="background-image: url('__PUBLIC__/Images/Index/register/1.jpg')"></div>
  </div>








  <!-- 尾部 -->
  <include file="Public/footer" />
  <!-- 自己的js -->
  <script type="text/javascript" src="__PUBLIC__/js/Index/login.js"></script>
</body>
</html>