<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>用户设置</title>
  <script type="text/javascript" src="__PUBLIC__/js/j.js"></script>
    <script type="text/javascript">
    var type          = '{$type}';                     //用来判断用户是不是点击头像过来的
    var PUBLIC        = '__PUBLIC__';
    var cityselectUrl = '__PUBLIC__/js/city.min.js';//引入城市联动需要的json数据
    var constellation = '{$userinfo.constellation}';//获取用户默认星座
    var home          = '{$userinfo.location}';//获取用户默认地址
    var uploadFace    = "{:U('Common/uploadFace')}";//头像上传处理方法
    var ROOT          = '__ROOT__';
    var sid = '{:session_id()}';
     $(function(){
      $("#city").citySelect({
        nodata:"none",
        required:false
      }); 
    });
  </script>
  <script type="text/javascript" src="__PUBLIC__/Uploadify/jquery.uploadify.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/UserSetting.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/jquery.cityselect.js"></script>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/UserSetting.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Uploadify/uploadify.css">
  <include file="./Index/Home/View/default/Public/header.html" />
  <div id="main">
    <nav>
      <ul id="userNav">
        <li><a href="" class="click">基本信息</a></li>
        <li><a href="">修改头像</a></li>
        <li><a href="">修改密码</a></li>
      </ul>
    </nav>
    <table id="show1">
        <form action="{:U('editBasic')}" method="post">
          <input type="hidden" name="prev_url" value="{$prev_url}">
          <tr><th colspan="2">用户设置</th></tr>
          <tr><td><label for="username">　　昵称:</label></td><td><input type="text" id="username" class="text" name="username" value="{$userinfo.username}"></td></tr>
          <tr><td><label for="truename">真实姓名:</label></td><td><input type="text" id="truename" class="text" name="truename" value="{$userinfo.truename}"></td></tr>
          <tr><td colspan="2"><input type="radio" name="sex" value="男"<if condition='$userinfo["sex"] == "男"'>
         checked="checked"
          </if> />男　<input type="radio" name="sex" value="女" <if condition='$userinfo["sex"] == "女"'>
         checked="checked"
          </if> />女</td></tr>
          <tr><td colspan="2" id="province">
            <div id="city">所在地: 
              <select class="prov" name="province"></select>  
              <select class="city" disabled="disabled" name="city"></select> 
              <select class="dist" disabled="disabled" name="dist"></select>
            </div> 
          </td></tr>

          <tr><td><label for="constellation">　　星座:</label></td>
          <td><select name="night" id="constellation">
                <option value="">请选择</option>
                <option value="白羊座">白羊座</option>
                <option value="金牛座">金牛座</option>
                <option value="双子座">双子座</option>
                <option value="巨蟹座">巨蟹座</option>
                <option value="狮子座">狮子座</option>
                <option value="处女座">处女座</option>
                <option value="天枰座">天枰座</option>
                <option value="天蝎座">天蝎座</option>
                <option value="射手座">射手座</option>
                <option value="摩羯座">摩羯座</option>
                <option value="水瓶座">水瓶座</option>
                <option value="双鱼座">双鱼座</option>
              </select>
          </td></tr>
          <tr><td><label for="intro">介绍自己:</label></td><td><textarea id="intro" name="intro">{$userinfo.intro}</textarea></td></tr>
          <tr><td colspan="2"><input type="submit" value="保存修改" class="sbt"></td></tr>
        </form>
      </table>
    <div class="userFace" id="show2" style="display: none;">
      <h1>修改头像</h1>
      <form action="{:U('editFace')}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="prev_url" value="{$prev_url}">
        <input type="hidden" name="faceSql">
        <img src="

        <if condition="$userinfo['face']">
          __ROOT__{$userinfo.face}
        <else />
          __PUBLIC__/images/none.png
        </if>

        " id="userFace">
        <input type="file" name="face" id="face">
        <input type="submit" value="保存修改">
      </form>
    </div>
    <ol id="show3" style="display: none;">
      <form action="{:U('editPwd')}" method="post">
        <input type="hidden" name="prev_url" value="{$prev_url}">
        <li>修改密码</li>
        <li>登录邮箱:<span>localhost@qq.com</span></li>
        <li><label for="oldpassword">　旧密码:</label><input type="password" name="oldpassword" id="oldpassword" class="text"></li>
        <li><label for="newpassword">　新密码:</label><input type="password" name="newpassword" id="newpassword" class="text"></li>
        <li><label for="notpassword">确认密码:</label><input type="password" name="notpassword" id="notpassword" class="text"></li>
        <li><input type="submit" value="确认修改" class="sbt"></li>
      </form>
    </ol>
  </div>
    <!-- 尾部样式 -->
  <include file="./Index/Home/View/default/Public/footer.html" />
</body>
</html>