<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{$title}列表</title>
  <script type="text/javascript" src="__PUBLIC__/js/j.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/Tool.js"></script>
  <script type="text/javascript">
    var addFollowUrl = "{:U('Common/addFollow')}";//添加关注
    var unFollow     = "{:U('Common/unFollow')}";//取消关注
    var addGroupUrl  = "{:U('Common/addGroup')}";//添加组
  </script>
  <script type="text/javascript" src="__PUBLIC__/js/followList.js"></script>
</head>
<body>
<include file="./Index/Home/View/default/Public/header.html" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Theme/{$style}/css/followList.css">
  <div id="box">
    <div id="userinfo">
    <img class="bg" src="__PUBLIC__/images/follow_list_bg.jpg">
    <div id="info">
      <a href="{:U('/'.$userinfo['uid'])}">
        <img src="
<if condition="$userinfo['face']">
            __ROOT__{$userinfo.face}
  <else />
            __PUBLIC__/images/none.png
</if>
        ">
      </a>
      <span class="name"><a href="{:U('/'.$userinfo['uid'])}">{$userinfo.username}</a></span>
      <span class="intro"><a href="{:U('UserSetting/index')}">{$userinfo.intro}</a></span>
    </div>
    </div>
    <span class="title">全部{$title}　<strong id="count">{$count}</strong></span>
    <ul id="list">

<if condition="$data">
  <foreach name="data" item="vo">
      <li>
        <div class="wrap">
          <div class="img">
            <a href="{:U('/'.$vo['uid'])}">
              <img src="
 <if condition="$vo['face']">
            __ROOT__{$vo.face}
  <else />
            __PUBLIC__/images/none.png
</if>
              ">
            </a>
          </div>
          <span class="name">
            <a href="{:U('/'.$vo['uid'])}">{$vo.username}　</a>
            <i class="<if condition="$vo['sex'] neq '男'">icon-male<else />icon-female</if>" style="color: <if condition="$vo['sex'] neq '男'">#F18CAE<else />#80D2F0</if>"></i>
          </span>
          <span class="intro">{$vo.intro}</span>
          <span class="follow <if condition="$vo['mutual'] neq 0">selected</if>" uid="{$vo.uid}"  mutual="{$vo.mutual}">
<if condition="$vo['mutual'] eq 2">
  互相关注
<elseif condition="$vo['mutual'] eq 1" />
已关注
<else />
  未关注
</if>
          </span>
        </div>
      </li>
  </foreach>
<else />
  <h1 class="notList">您还没有关注任何用户~</h1>
</if>


    </ul>
    <div class="pages">{$page}</div>
  </div>



   <!-- ============================添加用户分组 复制过来的========================== -->
<php>
  $group = M('group')->where(array('uid'=>session('uid')))->select();
</php>
  <div id="hiddenOperationBoxS">
    <div class="content">
      <div class="moverHidOper"></div>
      <h1><span>关注好友</span></h1>
      <div class="footer">
        <span class="select">
          <p>好友分组:　</p>
          <select name="night" id="group">
                <option selected="selected" value="0">默认分组</option>
<volist name="group" id="v">
                <option value="{$v.id}">{$v.name}</option>
</volist>

          </select>
          还没有分组?<a href="#" class="addGroup">点击添加</a>
          <input type="text" name="add" id="addText">
          <span id="addGroupBtn">添加</span>
        </span>
        <input type="hidden" name="follow" value="">
        <input type="button" value="取消" class="icon-cross">
        <input type="submit" value="关注" name="btn" id="addFollowBtn">
      </div>
    </div>
  </div>
    <!-- 尾部样式 -->





<include file="./Index/Home/View/default/Public/footer.html" />
</body>
</html>