body{
  background: url(../images/self_bg.jpg);
  background-color: #B1E0FA;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
}
#main{
  width: 1000px;
  min-height: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 16px;
}
#mainRBox{
  width: 850px;
  min-height: 600px;
  float: right;
}
/************************************************跳转回头部**************************/
#return{
  display: none;
  color: #fff;
  width: 45px;
  padding-left: 5px;
  height: 50px;
  border-radius: 5px;
  position: fixed;
  top: 80%;
  left: 75%;
  background: #66677C;
}
#return>i{
  text-align: center;
  line-height: 50px;
  font-size: 4rem;
  transition: 1s;
}
#return>i:hover{
  color: #C53838;
}


/**********************************************侧栏样式**************************/
#sdebar{
  position:fixed;
  width: 150px;
  min-height: 600px;
}
#sdebar>h1{
  width: 135px;
  padding-left: 15px;
  height: 40px;
  color: #aaa;
  text-align: left;
  line-height: 40px;
  font-size: 1.3rem;
  float: left;
}
#sdebar ul{
  width: 150px;
  min-height: 10px;
  float: left;
}
#sdebar ul>li{
  padding-left: 15px;
  width: 135px;
  height: 34px;
  float: left;
  color: #fff;
}
#sdebar ul>li:hover{
  background: rgba(255,255,255,.3);
}
#sdebar ul>li>i{
  text-align: left;
  line-height: 34px;
  font-size: 1.5rem;
  display: block;
  width: 20px;
  height: 34px;
  float: left;
  text-shadow: 1px 1px 1px #000;
}
#sdebar ul>li>a{
  display: block;
  float: left;
  width: 113px;
  height: 34px;
  text-align: left;
  line-height: 34px;
  font-size: 1.4rem;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
  font-weight: bold;
}

#sdebar>a{
  display: block;
  float: left;
  font-size: 1.4rem;
  margin-right: 59px;
  margin-top: 10px;
  text-shadow: 1px 1px 1px #000000;
  margin-left: 15px;
  color: #1F31D1;
}
#sdebar>a:hover{
  text-decoration: underline;
}
#addGroupText{
  display: block;
  float: left;
  margin-top: 2px;
  margin-left: 15px;
  width: 0px;
  border: none;
  border-radius: 2px;
  text-indent: 2px;
  background: rgba(255,255,255,.6);
  color:#444;
  display: none;
}
#icon-plus2{
  display: block;
  cursor: pointer;
  margin-left: 5px;
  float: left;
  color: rgba(255,68,0,.6);
  font-size: 2rem;
  transition: color .3s;
  display: none;
  opacity:0;
}
#icon-plus2:hover{
  color: rgba(255,68,0,.9);
}
#Groupmsg{
  display: block;
  float: left;
  margin-left: 10px;
  font-size: 0.9rem;
  color: rgba(255,0,0,.5);
  display: none;
}

/******************************************mainWB*************************************/
#mainWB{
  width: 600px;
  float: left;
  margin-left: 10px;
  min-height: 1000px;
}


/*======================================blog用户博文(信息) *==================================*/
#userSet{
  width: 230px;
  min-height: 1000px;
  float: right;
  margin-left: 10px;
}
#userSet div.userIFM{
  border-radius: 5px;
  width: 230px;
  height: 165px;
  float: right;
  background: #fff;
  margin-bottom: 10px;
}
#userSet div.userIFM>div.bg{
  position: relative;
  width: 230px;
  height: 75px;
  float: left;
  background: #E16BF6;
  border-radius: 5px 5px 0 0;
}
#userSet div.userIFM>div.bg>img{
  width: 230px;
  height: 75px;
  border-radius: 5px 5px 0 0 ;
}
#userSet div.userIFM>div.bg>a{
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 35%;
  display: block;
}
#userSet div.userIFM>div.bg>a>img{
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
#userSet div.userIFM>span{
  float: left;
  width: 100%;
  display: block;
  height: 18px;
  margin: 0 auto;
  margin-top: 25px;
  font-weight: bold;
  text-align: center;
}
#userSet div.userIFM>span>a{
  font-weight: bold;
  font-size: 1.4rem;
}
#userSet div.userIFM>div.ul{
  float: left;
  width: 230px;
  height: 40px;
}
#userSet div.userIFM>div.ul>ul{
  width: 200px;
  height: 40px;
  margin: 0 auto;
  margin-top: 5px;
}
#userSet div.userIFM>div.ul>ul>li{
  display: inline-block;
  width: 62px;
  border-left: 1px solid #ccc;
  height: 40px;
}
#userSet div.userIFM>div.ul>ul>li>a{
  text-align: center;
  display: block;
  width: 62px;
  height: 40px;
}
#userSet div.userIFM>div.ul>ul>li:nth-child(1){
  border: none;
}
#userSet div.userIFM>div.ul>ul>li>a:hover >p{
  color: #6c6351;
}
#userSet div.userIFM>div.ul>ul>li>a>p{
  width: 62px;  
  height: 18px;
  font-weight: bold;
  font-size: 1.8rem;
  float: left;
  transition:0.3s;
}
#userSet div.userIFM>div.ul>ul>li>a>span{
  color: #919191;
  margin-top: 5px;
  width: 62px;
  height: 18px;
  float: left;
}
/**可能感兴趣的人**/
#interest{
  float: left;
  width: 230px;
  min-height: 0px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}
#interest>span{
  display: block;
  float: left;
  width: 210px;
  padding: 5px 10px 0 10px;
  line-height: 30px;
  font-size: 1.4rem;
  font-weight: bold;
  height: 30px;
  border-bottom: 1px solid #ccc;
}
#interest>span>a{
  display: block;
  float: right;
  line-height: 15px;
  color: #888;
  transition: .3s;
}
#interest>span>a:hover{
  color: #FF4400;
}
div.interestLi{
  width: 200px;
  min-height: 0px;
  padding: 5px 20px 8px 10px;
  float: left;
}
div.interestLi>a.img{
  display: block;
  float: left;
}
div.interestLi>a.img>img{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
}
div.interestLi>span.name{
  display: block;
  float: right;
  width: 150px;
  height: 18px;
  text-align: left;
}
div.interestLi>span.name>a{
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  color: #444;
  float: left;
  transition: .3s;
}
div.interestLi>span.name>a:hover{
  color: #ff4400;
}
div.interestLi>span.name>i{
  display: block;
  float: left;
  margin-left: 5px;
  font-size: 1.6rem;
  color: #80D2F0;
}
div.interestLi>span.name>i.girl{
  color: #F18CAE;
}
div.interestLi>span.location{
  text-align: left;
  display: block;
  width: 150px;
  height: 15px;
  float: right;
  line-height: 15px;
  color: #555;
}
div.interestLi>span.location>font{
  font-size: 1.0rem;
  color: #5AA2E3;
}



/**热门话题**/
#userSet div.hotTopic{
  border-radius: 5px;
  background: #fff;
  padding-bottom: 10px;
  float: left;
  width: 230px;
  min-height: 327px;
}
#userSet div.hotTopic>h1{
  width: 198px;
  height: 39px;
  padding: 0 16px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid #F2F2F5;
  line-height: 42px;
}
#userSet div.hotTopic>ul{
  width: 198px;
  min-height: 20px;
  margin: 0 auto;
}
#userSet div.hotTopic>ul>li{
  width: 198px;
  height: 16px;
  padding: 8px 0 5px 0;
}
#userSet div.hotTopic>ul>li>a{
  display: block;
  float: left;
  width: 168px;
  font-size: 1.2rem;
  height: 16px;
  transition: .2s;
}
#userSet div.hotTopic>ul>li>a:hover{
  color: #6c6351;
}
#userSet div.hotTopic>ul>li>span{
  display: block;
  color: #919191;
  float: right;
  width: 30px;
  height: 16px;
}
/* 暂时没有微博 */
#notWB{
  width: 100%;
  height: 30px;
  display: block;
  background: #F9F9F9;
  float: left;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #988;
  text-align: center;
  line-height: 30px;
  font-size: 1.4rem;
}
#notData{/* 这里是最后显示的 没有数据了~ */
  display: block;
  float: left;
  width: 100%;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #FFFFFF;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  border-radius: 5px;
  margin-bottom: 5px;
}



/**分页**/
.pages{
  width: 560px;
  padding: 5px 20px;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 1px 1px #D8D8D8;
  margin: 0 auto;
  float: left;
}
.pages>div{
  width: 100%;
  text-align: center;
  background: #FFFFFF;
  margin: 0 auto;
}
.pages a,.pages span {
    display:inline-block;
    padding:2px 5px;
    margin:0 1px;
    border:1px solid #ddd;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.pages a,.pages li {
    display:inline-block;
    list-style: none;
    text-decoration:none;
    color:#58A0D3;
}
.pages a.first,.pages a.prev,.pages a.next,.pages a.end{
    margin:0;
}
.pages a:hover{
    border-color:#50A8E6;
}
.pages span.current{
    background:#50A8E6;
    color:#FFF;
    font-weight:700;
    border-color:#50A8E6;
}

.noneUser{
  width: 690px;
  height: 30px;
  float: left;
  background: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}
.noneUser strong{
  color: #CC1C1C;
}

a.keepTime{
  display: block;
  float: right;
  font-size: 1.2rem;
  color: #6D73F8;
}

/**私信样式**/
#call{
  background: #F0F0F0;
}
h1.callMeListTitle{
  width: 560px;
  padding: 0px 20px;
  height: 25px;
  background: #fff;
  margin-bottom: 5px;
  border-radius: 2px;
  line-height: 25px;
}
h1.callMeListTitle>span{
  font-size: 1.2rem;
  color: #555;
  height: 25px;
  display: block;
  float: left;
}
h1.callMeListTitle>span>strong{
  font-family: 'Kristen ITC';
  font-size: 1.4rem;
  color: #333;
}
h1.callMeListTitle>a{
  font-size: 1.2rem;
  height: 25px;
  display: block;
  float: right;
  color: #ff6600;
}
#callMeList{
  width: 600px;
  min-height: 0px;
}
#callMeList>li{
  display: block;
  float: left;
  background: #FFFFFF;
  width: 560px;
  padding: 10px 20px;
  margin-bottom: 5px;
  border-radius: 2px;
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
}
#callMeList>li>div.face{
  width: 60px;
  height: 80px;
  float: left;
  border-right: 2px solid #ccc;
}
#callMeList>li>div.face>a{
  display: block;
  float: left;
  margin-top: 15px;
  width: 50px;
  height: 50px;
}
#callMeList>li>div.face>a>img{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
}
#callMeList>li>div.content{
  margin-left: 5px;
  width: 430px;
  height: 80px;
  float: left;
}
#callMeList>li>div.content>span.name{
  display: block;
  float: left;
  width: 430px;
  height: 20px;
  line-height: 20px;
}
#callMeList>li>div.content>span.name>a{
  font-size: 1.3rem;
  font-weight: bold;
  transition: .4s;
}
#callMeList>li>div.content>span.name>a:hover{
  color: #ff8800;
}
#callMeList>li>div.content>span.content{
  text-indent: 2rem;
  display: block;
  float: left;
  height: 45px;
  width: 430px;
  overflow: hidden;
  font-size: 1.1rem;
  color: #555;
}
#callMeList>li>div.content>span.time{
  display: block;
  float: left;
  height: 15px;
  width: 430px;
  line-height: 15px;
  color: #888;
}
#callMeList>li>a{
  display: block;
  float: right;
  font-size: 1.3rem;
  color: #ff7700;
  margin-top: 10px;
}
#callMeList>li>a:hover{
  text-decoration:underline;
}
#callMeList>li>span.deleteCall{
  margin-top: 4%;
  width: 50px;
  line-height: 40px;
  height: 20px;
  text-align: right;
  display: block;
  float: right;
}
#callMeList>li>span.deleteCall>a{
  color: #888;
  transition: .3s;
}
#callMeList>li>span.deleteCall>a:hover{
  color: #ff2200;
}

/**私信隐藏弹出框**/
#callMeBox{
  position: fixed;
  top: 20%;
  left: 32%;
  width: 230px;
  padding: 10px;
  height: 280px;
  border-radius: 5px;
  box-shadow: 0px 0px 50px #666;
  background: #fff;
  display: none;
}
#callMeBox>h1{
  width: 250px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background: #f1f1f1;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #ddd;
  cursor: move;
  text-align: center;
  line-height: 30px;
  font-size: 1.4rem;
  color: #ff8800;
}
#callMeBox>div.callName{
  width: 250px;
  height: 30px;
  line-height: 30px;
  margin-top: 35px;
}
#callMeBox>div.callName>strong{
  display: none;
  float: right;
  margin-right: 20px;
  color: #DD4F4F;
}
#callMeBox>div.callName>span{
  font-size: 1.2rem;
  color: #666;
}
#callMeBox>div.callName>input{
  margin-left: 5px;
  text-indent: 2px;
  font-size: 1.0rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 120px;
  color: #555;
  height: 15px;
}
#callMeBox>span{
  display: block;
  width: 160px;
  height: 20px;
  line-height: 20px;
  color: #888;
  font-size: 1.1rem;
}
#callMeBox>div.callContent{
  width: 230px;
  height: 160px;
  display: block;
}
#callMeBox>div.callContent>textarea{
  resize: none;
  padding: 3px;
  width: 224px;
  color: #555;
  border: 1px solid #ccc;
  height: 154px;
  border-radius: 3px;
}
#callMeBox>div.callName>input:focus{
  border: 1px solid #ff8800;
  box-shadow: 0px 0px 1px #ff9900 inset;
}
#callMeBox>div.callContent>textarea:focus{
  border: 1px solid #ff8800;
  box-shadow: 0px 0px 1px #ff9900 inset;
}
#callMeBox>div.send{
  width: 160px;
  height: 20px;
  margin:  0 auto;
  margin-top: 10px;
}
#callMeBox>div.send>span.send{
  display: block;
  background: #ff6600;
  float: left;
  width: 40px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 2px #333;
  cursor: pointer;
  transition: .3s;
}
#callMeBox>div.send>span.send:hover{
  box-shadow: 0px 0px 2px #ff8800;
}
#callMeBox>div.send>span.x{
  display: block;
  background: #ddd;
  float: right;
  width: 40px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
}
#callMeBox>div.send>span.x:hover{
  color: #fff;
  text-shadow: 1px 1px 2px #333;
  background: #ff6600;
}
#callMeBox>div.send>span.x:hover{
  box-shadow: 0px 0px 2px #ff8800;
}