<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>文章列表</title>
</head>
<body>
  <!-- 头部 -->
  <include file="Public/nav" />
  <!-- 自己的样式 -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Index/A_index.css">
  <p>　</p><p>　</p><p>　</p><p>　</p><p>　</p>
  <div class="container">
    <hr>
    这个功能我不想写了- -没设计人员.
    <hr>
  </div>

  <!-- 尾部 -->
  <include file="Public/footer" />
  <!-- 自己的js -->
  <script type="text/javascript" src="__PUBLIC__/js/Index/A_index.js"></script>
</body>
</html>