<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<style type="text/css">
#videoPosterTestBox {
    position: absolute;
    top: 0;
    left: 120%;
    display: none;
}

#videoPosterTest {
    width: 352px;
    border-radius: 3px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px #333;
}
</style>

  

<!-- 引入头文件 -->
<include file='Public/header' />

<div class="container-fulid">
  <ul class="breadcrumb">
    <li>
      <a href="#">视频管理</a> <span class="divider">/</span>
    </li>

    <li class="active">
      上传视频
    </li>
  </ul>
</div>
<div class="container-fulid text-center">
  <h1>上传视频</h1>
</div>


<form action="{:U('add')}" method="post" class="form-horizontal col-md-12">

        <div class="form-group" >
          <label  class="col-sm-5 control-label">选择栏目<em>*</em></label>
          <div class="col-sm-2">
            <select class="form-control" name="cid">
              <option value="''">-选择栏目-</option>

              <if condition='$classifyLists'>
                <foreach name='classifyLists' item='v'>
                  <option value="{$v.id}">{$v.html}{$v.name}</option>
                </foreach>
              </if>

            </select>
          </div>
        </div>     


        <div class="form-group" >
          <label for="videoname" class="col-sm-5 control-label">视频名<em>*</em></label>
          <div class="col-sm-2" style="position: relative;">
            <input id="videoname" type="text" name="videoname" class="form-control text" placeholder="请保持在20位之内">
            <div id="videoPosterTestBox">
              <img src="__PUBLIC__/Images/Index/carousel/1.png" id="videoPosterTest">
            </div>
          </div>
        </div>  

        <div class="form-group" >
          <label class="col-sm-5 control-label">上传视频封面图<em>(1280X720)</em></label>
          <div class="col-sm-2">
              <input type="file" name="face" id="face">
              <input type="hidden" name="videopicurl">
              <input type="hidden" name="videopicurl176">
              <input type="hidden" name="size" id="size">
          </div>
        </div>

        <div class="form-group" >
          <label class="col-sm-5 control-label">视屏上传<em>(*暂时只支持.mp4请保证在3G内)</em></label>
          <div class="col-sm-2">
              <input type="file" name="face" id="face1">
          </div>
        </div> 

        <div class="form-group" >
          <label class="col-sm-5 control-label">视屏地址:<em>:</em></label>
          <div class="col-sm-2">
              <input type="text" name="videourl" id="videourl" readonly  class="form-control text" laceholder="上传后自动添加">
          </div>
        </div> 
        <p>　</p>
        <div class="form-group" >
          <label class="col-sm-5 control-label"><em></em></label>
          <div class="col-sm-2" style="position: relative;">
            <input  type="submit" class="button button-3d button-primary button-rounded" value="上传" id="videoSBT">
          </div>
        </div>  

 </form>

<!-- 引入尾文件 -->
<include file='Public/footer' />
<script type="text/javascript">
  /**
   * 封面图上传Uploadify配置
   */
  $('#face').uploadify({
    //引入flash动画
    swf : '__PUBLIC__/Uploadify/uploadify.swf',
    //php处理地址
    uploader : "{:U('Common/uploadVideoPic')}",
    width:120,
    height:32,
    //按钮背景图片定义[可选]
    buttonImage:'__PUBLIC__/Uploadify/browse-btn.png',//貌似很诡异
    //选择文件提示文字
    fileTypeDesc : 'Image File',
    //允许选择的文件类型
    fileTypeExts : '*.jpeg;*.jpg;*.png;*.gif',
    //解决报错 302错误,因为CommonController里面自动验证session存在的函数,导致报302错误,因为不发过去session
    ////发送额外的参数过去
    formData : {
      //var sid = "{:session_id()}";//获取当前session的值,因为uploadify发过去的数据不带session而CommonController里面又有判断session存不存在的函数,会导致报302错误(没权限)
      'session_id':"{:session_id()}"  
    },
    //回调函数
    ////file 返回文件名 , data返回php的数据 response不知道
    onUploadSuccess:function(file,data,response){
       eval('var data =' + data);//这步是关键,至今不懂为什么.反正不写就是不能用
        if(data.status){

          $('input[name=videopicurl]').val(data.facePath);
          $('input[name=videopicurl176]').val(data.pathmd);
          $('#videoPosterTest').attr({'src':data.facePath});
          $('#videoPosterTestBox').fadeIn();
        }else{
          tishi(data.msg);
        }
    }
  }); 


    /**
   * 视屏上传Uploadify配置
   */
  $('#face1').uploadify({
    //引入flash动画
    swf : '__PUBLIC__/Uploadify/uploadify.swf',
    //php处理地址
    uploader : "{:U('Common/uploadVideo')}",
    sizeLimit: '3221225472',//上传文件大小限制
    width:120,
    height:32,
    //按钮背景图片定义[可选]
    buttonImage:'__PUBLIC__/Uploadify/browse-btn.png',//貌似很诡异
    //选择文件提示文字
    fileTypeDesc : 'Video File',
    //允许选择的文件类型
    fileTypeExts : '*.mp4',
    //解决报错 302错误,因为CommonController里面自动验证session存在的函数,导致报302错误,因为不发过去session
    ////发送额外的参数过去
    formData : {
      //var sid = "{:session_id()}";//获取当前session的值,因为uploadify发过去的数据不带session而CommonController里面又有判断session存不存在的函数,会导致报302错误(没权限)
      'session_id':"{:session_id()}"  
    },
    //回调函数
    ////file 返回文件名 , data返回php的数据 response不知道
    onUploadSuccess:function(file,data,response){
       eval('var data =' + data);//这步是关键,至今不懂为什么.反正不写就是不能用
        if(data.status){
          //得到地址以后 添加给表单Input
          tishi('上传成功');
          $('#videourl').val(data.msg);
          $('#size').val(data.size);
        }else{
          tishi(data.msg);
        }
    }
  }); 

  //上传视频按钮点击判断
  $('#videoSBT').on('click',function(){
    //栏目判断
    var classify = $('select[name=cid]').val();
    //视频名判断
    var videoname = $('#videoname').val();
    //封面图判断
    var videopicurl = $('input[name=videopicurl]').val();
    //视频地址判断
    var videourl = $('input[name=videourl]').val();
    if(isNaN(classify)){
      tishi('必须选择栏目');
      return false;
    }
    if($.trim(videoname) == ''){
      tishi('填写视频名称');
      return false;
    }
    if($.trim(videopicurl) == ''){
      tishi('请上传本视频的封面图');
      return false;
    }
    if($.trim(videourl) == ''){
      tishi('请您上传视频~~~~~');
      return false
    };
  })
</script>

</body>
</html>