<!-- 公用控制器地址 -->
<script type="text/javascript">
  var videoAjaxUrl = "{:U('Common/videoAjax')}";//视频播放器 Common控制器 调用 AJAX请求
  var musicAjaxUrl = "{:U('Common/musicAjax')}"//音乐播放器 Common控制器 调用 AJAX请求



</script>
<!-- bootstrap主要样式 -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/plug-in/bootstrap.min.css"  rel="stylesheet">
<!-- bootstrap自带模板 -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/plug-in/bootstrap-theme.min.css">
<!-- bootstrap按钮插件 -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/plug-in/buttons.css">
<!-- jquery视频播放插件样式 -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/plug-in/video-js.min.css">
<!-- 音乐播放器引入 -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/plug-in/jAudio.css">
<!-- nav头部自己的样式 -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Index/nav.css">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand p0"><img src="__PUBLIC__/images/Index/h_logo.png" alt="" style="height: 50px;"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <form class="navbar-form navbar-left form-inline form-group hidden-xs " role="search" action="{:U('Search/search')}" method="post">
        <div class="input-group">
          <div class="input-group-addon">
            <select class="form-control" name="type">
              <option selected="selected" value="music">音乐</option>
              <option value="video">电影</option>
              <option value="article">文章</option>
            </select>
          </div>
          <input type="text" class="form-control" placeholder="请输入搜索内容" name="keyword">
          <div class="input-group-addon p0">
            <input type="submit" value="搜索">        
          </div>
        </div>
      </form>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
        <input type="hidden" id="navTitle" value="{$navTitle}">
          <li><a href="{:U('Index/index')}">首页</a></li>
          <li><a href="#">咨询</a></li>
          <li><a href="{:U('Article/index')}">文章</a></li>
          <li><a href="{:U('Music/lists')}">音乐</a></li>
          <li><a href="{:U('Video/details')}">视频</a></li>
          <li><a href="#">关于</a></li>
          <li class="loginOrRegister">
            <if condition="session('uid')">
            <!-- 这里以后用自定义标签改过来,现在暂时不会 -->
            <php>
              $path = M('userinfo')->where(array('uid'=>session('uid')))->getField('userpic');
            </php>
              <div class="userBox">
                <div class="userPic">
                  <a href="{:U('UserSetting/index')}"><img src="<if condition='$path'>/{$path}<else />__PUBLIC__/Images/Index/none.png</if>" class="navPic"></a>
                </div>
                <div class="logout">
                  <a href="{:U('UserSetting/index')}">个人中心</a>
                  <a href="{:U('Common/logout')}">退出用户</a>
                </div>
              </div>
            <else />
              <span>
                <a href="{:U('Login/login')}">登陆</a> | <a href="{:U('Login/register')}">注册</a>
              </span>
            </if>

          </li>
        </ul>
      </div>
    </div>
</nav>