<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin.css">
  <script type="text/javascript" src="__PUBLIC__/js/j.js"></script>
  <script type="text/javascript">
    var locksUrl = "{:U('locks')}";
  </script>
  <script type="text/javascript" src="__PUBLIC__/js/admin.js"></script>
  <title></title>
</head>
<body>
  <div id="main">
    <table>
      <tr><th>ID</th><th>用户昵称</th><th>头像</th><th>关注信息</th><th>注册时间</th><th>账号状态</th><th>操作</th></tr>
    <if condition="$resultAll">
      <foreach name="resultAll" item="vo">
          <tr>
            <td>{$vo.uid}</td>
            <td>{$vo.username}</td>
            <td><img src="<if condition="$vo['face']" >__ROOT__{$vo.face}<else/>__PUBLIC__/images/none.png</if>" width="30" height="30"></td>
            <td>关注:<span>{$vo.follow}</span> 粉丝:<span>{$vo.fans}</span> 微博:<span>{$vo.weibo}</span></td>
            <td>{$vo.registime}</td>
            <td class="locksTd"><a href="" class="locks" status="{$vo.locks}" uid="{$vo.uid}">{$vo.locks}</a></td>
            <td>没有操作</td>
          </tr>
      </foreach>
    </if>
    </table>
    <div class="pages">{$page}</div>
  </div>
</body>
</html>