<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>微博找人</title>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/style.css">
  <script type="text/javascript" src="__PUBLIC__/js/j.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/Tool.js"></script>
   <script type="text/javascript">
    var addGroupUrl  = "{:U('Common/addGroup')}";
    var addFollowUrl = "{:U('Common/addFollow')}";
    var unFollowUrl  = "{:U('Common/unFollow')}";
  </script>
  <script type="text/javascript" src="__PUBLIC__/js/search.js"></script>
</head>
<body>
  <include file="./Index/Home/View/default/Public/header.html" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Theme/{$style}/css/serch.css">
  <div id="main">
    <div id="top">
      <img src="__PUBLIC__/images/baidulogo.png" id="LOGO">
      <span id="sosoren">
        <a href="{:U('search')}/keyword/{$keyword}" class="click">综合</a>
        <a href="{:U('searchren')}/keyword/{$keyword}">找人</a>
        <a href="#">图片</a>
        <a href="#">主页</a>
      </span>
    </div>
    <nav>
      <form action="" method="get"><input type="text" name="keyword" value="{$keyword}" id="keyword">
      <input type="submit" value="搜　索" id="keywordSend">
      </form>
      <span>
        <a href="#">高级搜索</a>
        <a href="#">设置</a>
        <a href="#">帮助</a>
      </span>
    </nav>
    <div id="news">
      <!-- 搜索出来排名最高的用户(粉丝量最高)只有一个 -->
<if condition="$resultOne">
        <div class="getone">
          <a href="{:U('/'.$resultOne['uid'])}" class="img"><img src="
  <if condition="$resultOne['face']">
            __ROOT__{$resultOne['face']}
    <else />
            __PUBLIC__/images/none.png
  </if>
          "></a>
          <p class="star_name"><a href="{:U('/'.$resultOne['uid'])}">{$resultOne.username} </a><i class="icon-medal5"></i></p>
          <p class="star_card">
            <i class="<if condition="$resultOne['sex']!='男'">icon-male<else />icon-female</if>" style="color: 
<if condition="$resultOne['sex']!='男'">
              #F18CAE
    <else />
              #80D2F0
</if>
            "></i> {$resultOne.location} <a href="">www.weibo.com</a></p>
          <p class="star_info">{$resultOne.intro}</p>
          <p class="star_num">
            <span>关注<a href="#"> {$resultOne.follow}</a></span>
            <span>　粉丝<a href="#" class="fansCount"> {$resultOne.fans}</a></span>
            <span>　微博<a href="#"> {$resultOne.weibo}</a></span>
          </p>
          <p class="newwb"><a href="">最新微博</a> : <a href="#" class="title">三分命中率报表</a></p>
          <input type="button" value="<if condition="$resultOne['mutual']==2">互相关注<elseif condition="$resultOne['mutual'] eq 1"/>已关注<else />关注</if>" class="
           <if condition="$resultOne['mutual']!=0">
                  mutual
           </if>
         operation" uid='{$resultOne.uid}' status="{$resultOne.mutual}">
          <input type="hidden" name="LoginVerify" value="1">
        </div>
</if>
      <!-- /////搜索出来排名最高的用户(粉丝量最高)只有一个 -->
      <!-- 搜索出来的内容(标题或者内容这里不搜索用户名) -->
      <article class="sosoContent">
        <header><i class="icon-award7"></i>　30分钟前　转赞人数超过215万</header>
        <div class="content">
          <a href=""><img src="__PUBLIC__/images/none.png" alt=""></a>
          <a href=""><p class="author">费斯图斯-埃泽利　<i class="icon-medal5"></i></p></a>
          <span class="info">勇士最大的原因就是失误…是不是光练三分和技巧了…团队之间的传球容易被断可能是因为小个阵容，最棒的是李文和巴博萨，稳定发挥几个小高潮经常的，关键球最好的是巴恩斯和汤汤，一哥和埃泽利刚回来还需要训练。库里体现的太重要就容易失衡，据库里的好胜心来说，他绝对会勤加训练，期待接下来全胜。</span>
          <ul>
            <li>
              <img src="__PUBLIC__/images/4.jpg">
              <img src="__PUBLIC__/images/4.jpg">
              <img src="__PUBLIC__/images/4.jpg">
            </li>
            <span id="shuoming">2015年8月23日 来自 微博weibo.com</span>
          </ul>
        </div>
        <footer>
          <span>收藏</span>
          <span>转发　643</span>
          <span>评论　1258</span>
          <span><i class="icon-flame"></i>　597</span>
        </footer>
      </article>
      <!-- //////搜索出来的内容(标题或者内容这里不搜索用户名) -->
    </div>



    <div id="sidebar">
    <!-- 用户搜索相关用户 -->
      <div id="relatedUser">
        <span>相关用户<a href="{:U('searchren')}/keyword/{$keyword}">更多</a></span>
        <ul>
<volist name="result" id="vo">
          <li>
            <a href="{:U('/'.$vo['uid'])}"><img src="
<if condition="$vo['face']">
          __ROOT__{$vo['face']}
  <else />
          __PUBLIC__/images/none.png
</if>
          "></a>
            <span class="name"><a href="{:U('/'.$vo['uid'])}">{$vo.username|str_replace=$keyword,'<span style="color:orangered;">'.$keyword.'</span>',###} </a> <i class="icon-medal5"></i></span>
            <span class="info">{$vo.intro|omitString=###,16|str_replace=$keyword,'<span style="color:orangered;">'.$keyword.'</span>',###}</span>
          </li>
</volist>       
        </ul>
      </div>
      <!-- ////用户搜索相关用户 -->
      <if condition="hotwb">
      <!-- 实时热搜榜(其实就是点击量) -->
      <div id="hotTime">
        <span>实时热搜榜<a href="#">更多</a></span>
        <ol>
          <foreach name="hotwb"  item="vo">
            <li><b style="color: rgb(255,{$key*20},{$key*20})">{$key+1}.</b><span>{$vo.comment}</span><a href="{:U('Discuss/index',array('wid'=>$vo['id']))}">{$vo.content|omitString=###,15}</a></li>
          </foreach>
        </ol>
      </div>
      <!-- ////实时热搜榜(其实就是点击量) -->
      </if>
    </div>
  </div>
  <!-- 隐藏框框 -->
<!-- ============================隐藏转发输入框  复制过来的========================== -->
<php>
  $group = M('group')->where(array('uid'=>session('uid')))->select();
</php>
  <div id="hiddenOperationBoxS">
    <div class="content">
      <div class="moverHidOper"></div>
      <h1><span>关注好友</span></h1>
      <div class="footer">
        <span class="select">
          <p>好友分组:　</p>
          <select name="night" id="group">
                <option selected="selected" value="0">默认分组</option>
<volist name="group" id="v">
                <option value="{$v.id}">{$v.name}</option>
</volist>

          </select>
          还没有分组?<a href="#" class="addGroup">点击添加</a>
          <input type="text" name="add" id="addText">
          <span id="addGroupBtn">添加</span>
        </span>
        <input type="hidden" name="follow" value="">
        <input type="button" value="取消" class="icon-cross">
        <input type="submit" value="关注" name="btn" id="addFollowBtn">
      </div>
    </div>
  </div>
    <!-- 尾部样式 -->
  <include file="./Index/Home/View/default/Public/footer.html" />
</body>
</html>