<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="pragma" content="no-cache">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>奇迹公司</title>
</head>
<body>
  <!-- 头部 -->
  <include file="Public/nav" />
  <!-- 自己的样式 -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Index/index.css">
  <!-- 轮播图 -->
  <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" style="background: #130D1B;">
          <img src="__PUBLIC__/images/Index/carousel/1.png">
          <div class="carousel-caption ">
            <h3 class="hidden-xs"><a href="#">桥梁</a></h3>
            <p class="hidden-xs">桥梁，一般指架设在江河湖海上，使车辆行人等能顺利通行的构筑物。为适应现代高速发展的交通行业，桥梁亦引申为跨越山涧、不良地质或满足其他交通需要而架设的使通行更加便捷的建筑物。</p>
          </div>
        </div>
        <div class="item" style="background: #2D152D">
          <img src="__PUBLIC__/images/Index/carousel/2.png">
          <div class="carousel-caption ">
            <h3 class="hidden-xs"><a href="#">公路</a></h3>
            <p class="hidden-xs">公路的字面含义是公用之路、公众交通之路，汽车、单车、人力车、马车等众多交通工具及行人都可以走，当然不同公路限制不同。民间也称作马路，如“马路天使”里的用法，不限于马匹专用。</p>
          </div>
        </div>
        <div class="item" style="background: #131C2E">
          <img src="__PUBLIC__/images/Index/carousel/3.png">
          <div class="carousel-caption ">
            <h3 class="hidden-xs">荷叶</h3>
            <p class="hidden-xs">荷叶，又称莲花茎、莲茎。莲科莲属多年生草本挺水植物，古称芙蓉、菡萏、芙蕖。荷花一般长到150厘米高，横向扩展到3米。荷叶最大可达直径60厘米，莲花最大直径可达20厘米。荷花有许多不同的栽培品种，花色从雪白、黄色到淡红色及深黄色和深红色，其外还有分洒锦等等花色。</p>
          </div>
        </div>
        <div class="item" style="background: #D3A266">
          <img src="__PUBLIC__/images/Index/carousel/4.png">
          <div class="carousel-caption ">
            <h3 class="hidden-xs">树木</h3>
            <p class="hidden-xs">树木是由“枝”和“杆”还有“叶”呈现的一种植物，可存活几十年。一般将乔木称为树，有明显直立的主干，植株一般高大，分枝距离地面较高，可以形成树冠。树有很多种， 俗语中也有将比较大的灌木称为“树”的，如石榴树、茶树等。</p>
          </div>
        </div>
      </div>
      <a href="#myCarousel" data-slide="prev" class="carousel-control left">
        <span class="glyphicon glyphicon-chevron-left"> </span>
      </a>
      <a href="#myCarousel" data-slide="next" class="carousel-control right">
        <span class="glyphicon glyphicon-chevron-right"> </span>
      </a>
  </div>

  <!-- 每日必读 -->
  <div id="read">
    <div class="container">
      <div class="col-md-9 col-sm-9">
        <blockquote class="container-fluid header">
          <strong class="col-md-11 col-xs-8 ">每日散文</strong>
          <div class="col-md-1">
            <button class="button button-raised  button-circle button-small">
              <span class="glyphicon glyphicon-refresh"></span>
            </button>
          </div>  
        </blockquote>
        <div class="container-fluid title">
          <h3 class="text-center">听雨</h3>
        </div>
        <div class="container-fluid content">
          <p>今年的广东雨水特别多，像是爱啼哭的三月婴儿，走着走着就下了，说着说着就停了，笑着笑着又开始下了。于是，次日一早，路两边到处是深深浅浅的水坑。许多行人是极不喜欢这种说来就来，千变万化的雨的。每日清晨，随处可见三三两两的行人吃力的推着摩托车，电单车在水里淌过，嘴角还不停的絮絮叨叨。 然后，我却是极喜欢这春雨的，尤其是登上高高的楼顶，可以慵懒的将头枕在窗柩上，放空一切，什么都不去想，肆无忌惮的隔空听雨。你听，雨是有声音的。它的声音极其的好听，细细柔柔的，它就像远处寺庙传来的钟响，声声扣响我的心扉。一个人静坐，观雨不语，前世，今生，患得，患失。它就像是梨园女子的吟唱声，水袖拂动，眉宇间顾盼生辉，婉转清脆中透着那么一丝凄凉，奏出一曲萧瑟和鸣对。诉不尽的缠绵绯侧，惹碎了满园关不住的春色。它就像涓涓流淌着山间小溪，清清的，凉凉的，丝丝入扣，流进了我的心坎里。眉头的结渐渐舒展了。嘴唇在不经意间上扬。是呀，雨一来，带来了人世间的一场温凉。雨蒙蒙的影影绰绰勾勒出漫天的浓淡墨色。雨的姿态也是极其好看的，温柔时像极了阿娜多姿，婷婷玉立的少女，它永远那么宁静的守候在世界的某个角落里，像千丝万缕的珠帘一样纷纷而落，似乎只有这样永不停止的飘落，它那思念着的远方人儿才能听得到，看得见。
          </p>
        </div>
        <div class="container-fluid">
          <button class="button button-3d button-primary button-rounded btn-right button-tiny">阅读全部</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 newsC hidden-xs "><!-- newsContent -->
        <div class="pinBox">
          <span class="title h4">
            最新动态
          </span>
          <ol class="newsCList">
            <li><span>1. </span><a href="#">像千丝万缕的珠帘</a></li>
            <li><span>2. </span><a href="#">像千丝万缕的珠帘</a></li>
            <li><span>3. </span><a href="#">像千丝万缕的珠帘</a></li>
            <li><span>4. </span><a href="#">像千丝万缕的珠帘</a></li>
            <li><span>5. </span><a href="#">像千丝万缕的珠帘</a></li>
            <li><span>6. </span><a href="#">像千丝万缕的珠帘</a></li>
            <li><span>7. </span><a href="#">像千丝万缕的珠帘</a></li>
            <li><span>8. </span><a href="#">像千丝万缕的珠帘</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>


<!-- 最新 电影 粤剧 音乐 朗诵 http://www.17sucai.com/preview/229782/2015-10-23/大风车/index.html -->

<div id="newsV"><!-- newsVideo -->
  <div class="container">
    <blockquote class="container-fluid header p0 m0">
      <h4 class="col-md-8 col-sm-7 col-xs-12 mtb0">
        <img src="__PUBLIC__/images/Index/news/1.png">
        <span>最新视频</span>
        <a href="#" class="button button-raised  button-tiny button-pill ua">更 多</a>
      </h4>
      <div class="col-md-4 col-sm-5 hidden-xs">
        <div class="button-group">
          <button type="button" class="button  button-tiny button-rounded button-raised">电 影</button>
          <button type="button" class="button  button-tiny button-rounded button-raised">演 唱</button>
          <button type="button" class="button  button-tiny button-rounded button-raised">小 品</button>
        </div>
      </div>
    </blockquote>

    <div class="container-fluid vbody">
      <div class="row">
  
        <if condition='$newVideo' >
          <foreach name='newVideo' item='v'>
            <div class="col-md-2 col-sm-3 col-xs-12">
              <div class="imgBox">
                <div class="hd visible-xs-block">
                  <a href="{:U('Video/details',array('id'=>$v['id']))}"><i class="glyphicon glyphicon-play-circle"></i></a>
                </div>
                <img src="{$v.videopicurl176}" class="img-responsive">
                <span class="glyphicon glyphicon-play-circle hidden-xs" vid="{$v.id}"></span>
                <div class="zhezhao hidden-xs">
                  <b class="tI4">{$v.videoname}</b>
                  <div>
                    <i class="glyphicon glyphicon-play"></i> <strong>{$v.playcount}</strong>
                  </div>
                </div>
                <if condition="$v['isday'] eq 1">
                  <div class="today">
                    今日
                  </div>
                </if>
              </div>
            </div>
          </foreach>
        <else />
          <h2>暂没有数据</h2>
        </if>

      </div>
    </div>
  </div>
</div>



<!-- 最新音乐 -->
<div class="musicTitle container">
  <div class="row">
    <blockquote class="col-md-4 col-sm-6">
      <span>最新推荐</span>
      <a href="#" class="button button-glow button-circle button-primary button-tiny">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </blockquote>
    <blockquote class="col-md-4 col-sm-6 hidden-xs">
      <span>最热推荐</span>
      <a href="#" class="button button-glow button-circle button-primary button-tiny">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </blockquote>
    <blockquote class="col-md-4 col-sm-6 hidden-xs hidden-sm">
      <span>历史排行</span>
      <a href="#" class="button button-glow button-circle button-primary button-tiny">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </blockquote>
  </div>
</div>

<section id="musicList" class="parallax parallax-2 container p0" style="background-image: url('__PUBLIC__/images/Index/news/music.jpg');">
  <div class="container-fluid p0">
    <div class="row m0">
      <!-- 左边 -->
      <div class="col-md-4 col-sm-6 p0">
        <div class="container-fluid">
          <div class="row list">
            <if condition='$newMusic'>
              <foreach name='newMusic' item='v'>
                <div class="col-md-12">
                      <span>
                        <a href="#">{$v.musicname}</a>
                        <strong>－</strong>
                        <a href="#">{$v.author}</a>
                      </span>
                      <i class="glyphicon glyphicon-plus-sign"></i>
                      <i class="visible-xs-block">
                        <a href="#" class="glyphicon glyphicon-play-circle"></a>
                      </i>
                      <i class="glyphicon glyphicon-play-circle hidden-xs" mid='{$v.id}'></i>
                </div>
              </foreach>
            </if>
          </div>
        </div>
      </div>

      <!-- 中间 -->
      <div class="col-md-4 col-sm-6 hidden-xs p0">
        <div class="container-fluid">
          <div class="row list">
              <if condition='$hotMusic'>
                <foreach name='hotMusic' item='v'>
                <div class="col-md-12">
                      <span>
                        <a href="#">{$v.musicname}</a>
                        <strong>－</strong>
                        <a href="#">{$v.author}</a>
                      </span>
                      <i class="glyphicon glyphicon-plus-sign"></i>
                      <i class="visible-xs-block">
                        <a href="#" class="glyphicon glyphicon-play-circle"></a>
                      </i>
                      <i class="glyphicon glyphicon-play-circle hidden-xs" mid='{$v.id}'></i>
                </div>
              </foreach>  
            </if>
          </div>
        </div>
      </div>

      <!-- 右侧 -->
      <div class="col-md-4 col-sm-6 hidden-xs  hidden-sm p0">
        <div class="container-fluid">
          <div class="row list">
              <if condition='$oldMusic'>
                <foreach name='oldMusic' item='v'>
                <div class="col-md-12">
                      <span>
                        <a href="#">{$v.musicname}</a>
                        <strong>－</strong>
                        <a href="#">{$v.author}</a>
                      </span>
                      <i class="glyphicon glyphicon-plus-sign"></i>
                      <i class="visible-xs-block">
                        <a href="#" class="glyphicon glyphicon-play-circle"></a>
                      </i>
                      <i class="glyphicon glyphicon-play-circle hidden-xs" mid='{$v.id}'></i>
                </div>
              </foreach>  
            </if>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






  
  <!-- 尾部 -->
  <include file="Public/footer" />
  <!-- 自己的js -->
  <script type="text/javascript" src="__PUBLIC__/js/Index/index.js"></script>

</body>
</html>