<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style type="text/css">
#videoPosterTestBox {
    position: absolute;
    top: 0;
    left: 120%;
    display: none;
}

#videoPosterTest {
    width: 200px;
    height: 204px;
    border-radius: 3px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px #333;
}
</style>

<body>
    <!-- 引入头文件 -->
    <include file='Public/header' />
    <div class="container-fulid">
        <ul class="breadcrumb">
            <li>
                <a href="#">音乐管理</a> <span class="divider">/</span>
            </li>
            <li class="active">
                上传音乐
            </li>
        </ul>
    </div>
    <div class="container">
        <h1 class="text-center">上传音乐</h1>
    </div>
    <form action="{:U('add')}" method="post" class="form-horizontal col-md-12">
        <div class="form-group">
            <label class="col-sm-5 control-label">栏目选择<em>*</em></label>
            <input type="hidden" id="getId" value="{$getId}">
            <div class="col-sm-2">
                <select class="form-control" name="cid" id="classifySelect">
                    <option value="''">请选择您要上传的栏目</option>
                    <if condition='$classifyLists'>
                        <foreach name='classifyLists' item='v'>
                            <optgroup label="{$v.name}">
                                <foreach name="v['child']" item='value'>
                                    <option value="{$value.id}">{$value.name}</option>
                                </foreach>
                            </optgroup>
                        </foreach>
                        <else />
                        <option value="0" id="geng"><a href="#">暂没有栏目点击添加</a></option>
                    </if>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="musicname" class="col-sm-5 control-label">音乐名<em>*</em></label>
            <div class="col-sm-2" style="position: relative;">
                <input id="musicname" type="text" name="musicname" class="form-control text" placeholder="请保持在20位之内">
                <div id="videoPosterTestBox">
                    <img src="" alt="" id="videoPosterTest">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="author" class="col-sm-5 control-label">歌手<em>*</em></label>
            <div class="col-sm-2" style="position: relative;">
                <input id="author" type="text" name="author" class="form-control text" placeholder="请保持在20位之内">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">音乐封面图　　标准200x204<em>*</em></label>
            <div class="col-sm-2">
                <input type="file" name="face" id="face">
                <input type="hidden" name="musicbgurl" id="pic">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">音乐上传(只支持.mp3)<em>*</em></label>
            <div class="col-sm-2">
                <input type="file" name="face" id="face1">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">音乐地址:<em>:</em></label>
            <div class="col-sm-2">
                <input type="text" name="musicurl" id="musicurl" readonly class="form-control text" laceholder="上传后自动添加">
                <input type="hidden" name="size" id="size">
            </div>
        </div>
        <div class="form-group">
            <label for="info" class="col-sm-5 control-label"><em></em></label>
            <div class="col-sm-2">
                <input type="submit" value="添加" class="button button-3d button-primary button-rounded" id="videoSBT">
            </div>
        </div>
    </form>
    <!-- 引入尾文件 -->
    <include file='Public/footer' />
    <script type="text/javascript">
    /**
     * 封面图上传Uploadify配置
     */
    $('#face').uploadify({
        //引入flash动画
        swf: '__PUBLIC__/Uploadify/uploadify.swf',
        //php处理地址
        uploader: "{:U('Common/uploadMusicBg')}",
        width: 120,
        height: 32,
        //按钮背景图片定义[可选]
        buttonImage: '__PUBLIC__/Uploadify/browse-btn.png', //貌似很诡异
        //选择文件提示文字
        fileTypeDesc: 'Images File',
        //允许选择的文件类型
        fileTypeExts: '*.jpeg;*.jpg;*.png;*.gif',
        //解决报错 302错误,因为CommonController里面自动验证session存在的函数,导致报302错误,因为不发过去session
        ////发送额外的参数过去
        formData: {
            //var sid = "{:session_id()}";//获取当前session的值,因为uploadify发过去的数据不带session而CommonController里面又有判断session存不存在的函数,会导致报302错误(没权限)
            'session_id': "{:session_id()}"
        },
        //回调函数
        ////file 返回文件名 , data返回php的数据 response不知道
        onUploadSuccess: function(file, data, response) {
            eval('var data =' + data); //这步是关键,至今不懂为什么.反正不写就是不能用
            if (data.status) {
                $('input[name=musicbgurl]').val(data.facePath);
                $('#videoPosterTest').attr({
                    'src': data.facePath
                });
                $('#videoPosterTestBox').fadeIn();
            } else {
                tishi(data.msg);
            }
        }
    });


    /**
     * 视屏上传Uploadify配置
     */
    $('#face1').uploadify({
        //引入flash动画
        swf: '__PUBLIC__/Uploadify/uploadify.swf',
        //php处理地址
        uploader: "{:U('Common/uploadMusic')}",
        sizeLimit: '10485760', //上传文件大小限制
        width: 120,
        height: 32,
        //按钮背景图片定义[可选]
        buttonImage: '__PUBLIC__/Uploadify/browse-btn.png', //貌似很诡异
        //选择文件提示文字
        fileTypeDesc: 'Music File',
        //允许选择的文件类型
        fileTypeExts: '*.mp3',
        //解决报错 302错误,因为CommonController里面自动验证session存在的函数,导致报302错误,因为不发过去session
        ////发送额外的参数过去
        formData: {
            //var sid = "{:session_id()}";//获取当前session的值,因为uploadify发过去的数据不带session而CommonController里面又有判断session存不存在的函数,会导致报302错误(没权限)
            'session_id': "{:session_id()}"
        },
        //回调函数
        ////file 返回文件名 , data返回php的数据 response不知道
        onUploadSuccess: function(file, data, response) {
            eval('var data =' + data); //这步是关键,至今不懂为什么.反正不写就是不能用
            if (data.status) {
                //得到地址以后 添加给表单Input
                tishi('上传成功');
                $('#musicurl').val(data.msg);
                $('#size').val(data.size);
            } else {
                tishi(data.msg);
            }
        }
    });

    //上传视频按钮点击判断
       $('#videoSBT').on('click', function() {
           //栏目判断
           var classify = $('select[name=cid]').val();
           //视频名判断
           var musicname = $('#musicname').val();
           //歌手判断
           var author = $('#author').val();
           //封面图判断
           var musicbgurl = $('input[name=musicbgurl]').val();
           //视频地址判断
           var musicurl = $('input[name=musicurl]').val();
           if (isNaN(classify)) {
               tishi('必须选择栏目');
               return false;
           }
           if ($.trim(musicname) == '') {
               tishi('请填写音乐名称');
               return false;
           }
           if ($.trim(author) == '') {
               tishi('请填写歌手名称');
               return false;
           }
           if ($.trim(musicbgurl) == '') {
               tishi('请上传本音乐的封面图');
               return false;
           }
           if ($.trim(musicurl) == '') {
               tishi('请您上传音乐~~~~~');
               return false
           };
       })
    </script>
</body>

</html>
