<!-- 引入头文件 -->
<include file='Public/header' />
<style type="text/css">
  .panel-heading{
    padding: 0;
  }
  .panel-title>a{
    height: 35px;
    line-height: 35px;
    font-size: 16px;
  }
  #accordion>div{
    margin-top: 0;
  }
  .panel-title>a{
    padding: 0;
  }
  .panel-body{
    padding:0 0 0 15px;
  }
  .panel-body>a{
    display: block;
    width: 100%;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    padding: 0;
    margin: 0;
    margin:1px auto;
    text-align: center;
    color: #888;
  }
</style>
      <!-- 手风琴栏目 -->
      <div class="col-md-12 p0">
         <div class="panel-group" id="accordion">

           <div class="panel panel-default">
             <div class="panel-heading">
               <h4 class="panel-title">
                 <a href="#collapse1" data-toggle="collapse" data-parent="#accordion" class="button button-block button-rounded button-large">视频管理</a>
               </h4>
             </div>
             <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body"> 
                    <a href="{:U('Video/classify')}" class="button button-block button-rounded button-large col-md-12" target="map">栏目列表</a>
                    <a href="{:U('Video/addClassify')}" class="button button-block button-rounded button-large col-md-12" target="map">添加栏目</a>
                    <a href="{:U('Video/index')}" class="button button-block button-rounded button-large col-md-12" target="map">视频列表</a>
                    <a href="{:U('Video/add')}" class="button button-block button-rounded button-large col-md-12" target="map">上传视频</a>
                </div>
             </div>
           </div>

           <div class="panel panel-default">
             <div class="panel-heading">
               <h4 class="panel-title">
                 <a href="#collapse2" data-toggle="collapse" data-parent="#accordion" class="button button-block button-rounded button-large">音乐管理</a>
               </h4>
             </div>
             <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="{:U('Music/lists')}" class="button button-block button-rounded button-large col-md-12" target="map">栏目列表</a>
                    <a href="{:U('Music/addClassify')}" class="button button-block button-rounded button-large col-md-12" target="map">添加栏目</a>
                    <a href="{:U('Music/index')}" class="button button-block button-rounded button-large col-md-12" target="map">音乐列表</a>
                    <a href="{:U('Music/add')}" class="button button-block button-rounded button-large col-md-12" target="map">上传音乐</a>
                </div>
             </div>
           </div>

           <div class="panel panel-default">
             <div class="panel-heading">
               <h4 class="panel-title">
                 <a href="#collapse3" data-toggle="collapse" data-parent="#accordion" class="button button-block button-rounded button-large">文章管理</a>
               </h4>
             </div>
             <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  第3部分
                </div>
             </div>
           </div>

           <div class="panel panel-default">
             <div class="panel-heading">
               <h4 class="panel-title">
                 <a href="#collapse4" data-toggle="collapse" data-parent="#accordion" class="button button-block button-rounded button-large">会员管理</a>
               </h4>
             </div>
             <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                  第4部分
                </div>
             </div>
           </div>
                                 
         </div>
      </div>

<!-- 引入尾文件 -->
<include file='Public/footer' />
<script type="text/javascript">
  $('div.panel-body>a').click(function(){
    $(this).addClass('active').siblings('a').removeClass('active');
  })
</script>